* {
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #999;
}
#header {
	height: 200px;
}
#header img {
	padding: 20px 5% 20px 5%;
	width: 70px;
	height: 70px;
}
.info {
	padding: 5% 0 0 0;
}
p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.8em;
	color: #FFF;
}
